<div class="news-item" *ngIf="$newsItem | async as newsItem">

  <h3>{{newsItem.title}}</h3>

  <h4>Posted by <span class="author-name">{{newsItem.by}}</span> on {{newsItem.time}}</h4>

  <div class="text-snippet" *ngIf="newsItem.text !== '' && showDescriptionText" [innerHTML]="newsItem.text"></div>

  <a class="btn btn-primary" 
    *ngIf="newsItem.url !== '';else no_url"
    [href]="newsItem.url" 
    [ngbTooltip]="newsItem.url" 
    role="button" 
    placement="top" 
    target="_blank"><span ><fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>{{fullArticleLink}}</span></a>

  <ng-template #no_url><div class="no-url"><fa-icon [icon]="faWarning"></fa-icon>{{noArticleUrlWarning}}</div></ng-template>

</div>
